<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
Bienvenue sur ma page d'accueil
Pour créer un utilisateur avec le formulaire 1, c'est par ici <a href="<%=nouvelutilisateurhtml_path%>" > cliquez ici</a>
<br>
<br>
Pour créer un utilisateur avec le formulaire form_tag, c'est par ici <a href="<%=nouvelutilisateurformtag_path%>" > cliquez ici</a>
<br>
<br>
Pour créer un utilisateur avec le formulaire form_for, c'est par ici <a href="<%=nouvelutilisateurformfor_path%>" > cliquez ici</a>
